.movies {
  display: flex;
  /* flex items가 가로로 쭉 늘어지기만 하지 않고 너비가 줄어들면 자동으로 일정 items는 아래 단으로 내려감 */
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  padding: 50px 10px;
}
.movie {
  /* 변수 사용 */
  --size: 327px;
  position: relative;
  width: var(--size);
  height: calc(var(--size) * 3 / 2);
  overflow: hidden;
  border-radius: 10px;
}
.movie h1 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;  
  text-align: center;
  padding: 20px 0;
  background-color: rgba(0,0,0,.3);
  backdrop-filter: blur(4px);
  color: white;
}
.movie img {
  width: 100%;
}
.actions {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}
.btn {
  font-size: 40px;
  padding: 20px 40px;
  background-color: orange;
  display: inline-block;
  border-radius: 10px;
  cursor: pointer;
}
